header {
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Pacifico', cursive;
}

header h1 {
  background: linear-gradient(90deg, #323232, #454545, #908f8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  color: white;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

a{
	gap: 15px;
	color: white;
	margin:0;
	padding:0;
}
a:hover{
	color: #e11414;
	text-decoration: underline;
}

section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	padding: 20px;
	background:linear-gradient(#323232, #454545, #908f8f);
	flex: 1;
}

article {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 8px;
}

aside {
	background-color: #312b29;
	padding: 15px;
	border-radius: 8px;
}

footer {
	background-color: #999999;
	color: #000000;
	text-align: center;
	padding: 15px;
}

p{
	color: black;
	font-family:'Times New Roman', Times, serif;
}
